<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <button
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarNavDropdown"
                    data-bs-toggle="collapse"
                    type="button"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <router-link
                                :to="{ name: 'dashboard' }"
                                class="nav-link"
                            >
                                Dashboard
                            </router-link>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a
                                    aria-expanded="false"
                                    aria-haspopup="true"
                                    class="nav-link dropdown-toggle"
                                    data-bs-toggle="dropdown"
                                    href="#"
                                    id="navbarDropdownMenuLink"
                                    role="button"
                                >
                                    More
                                </a>
                                <div
                                    aria-labelledby="navbarDropdownMenuLink"
                                    class="dropdown-menu dropdown-menu-end"
                                >
                                    <a
                                        @click="logout"
                                        class="dropdown-item"
                                        href="javascript:void(0)"
                                    >
                                        Logout
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <main class="mt-3">
            <router-view></router-view>
        </main>
    </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
    name: "default-layout",
    data() {
        return {
            user: this.$store.state.auth.user,
        };
    },
    methods: {
        ...mapActions({
            signOut: "auth/logout",
        }),
        async logout() {
            await axios.post("/logout").then(({ data }) => {
                this.signOut();
                this.$router.push({ name: "login" });
            });
        },
    },
};
</script>
