<template>
    <div class="container h-100 mt-5">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card shadow sm">
                    <div class="card-body">
                        <h1 class="text-center">Login</h1>
                        <hr />
                        <form
                            action="javascript:void(0)"
                            class="row"
                            method="post"
                        >
                            <div
                                class="col-12"
                                v-if="Object.keys(errors).length > 0"
                            >
                                <div class="alert alert-danger">
                                    <ul class="mb-0">
                                        <li
                                            v-for="(value, key) in errors"
                                            :key="key"
                                        >
                                            {{ value[0] }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                <label for="email" class="font-weight-bold">
                                    Email
                                </label>
                                <input
                                    class="form-control mt-2"
                                    id="email"
                                    name="email"
                                    placeholder="Enter Email"
                                    type="text"
                                    v-model="user.email"
                                />
                            </div>
                            <div class="form-group col-12 my-2">
                                <label for="password" class="font-weight-bold">
                                    Password
                                </label>
                                <input
                                    class="form-control mt-2"
                                    id="password"
                                    name="password"
                                    placeholder="Enter Password"
                                    type="password"
                                    v-model="user.password"
                                />
                            </div>

                            <div class="col-12 mb-2">
                                <button
                                    :disabled="processing"
                                    @click="login"
                                    class="btn btn-primary btn-block mt-2"
                                    type="submit"
                                >
                                    {{ processing ? "Loading..." : "Login" }}
                                </button>
                            </div>

                            <div class="col-12 text-center">
                                <label>
                                    Don't have an account?
                                    <router-link :to="{ name: 'register' }">
                                        Register
                                    </router-link>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
    name: "login",
    data() {
        return {
            user: {
                email: "",
                password: "",
            },
            errors: {},
            processing: false,
        };
    },
    methods: {
        ...mapActions({
            signIn: "auth/login",
        }),
        async login() {
            this.processing = true;
            await axios.get("/sanctum/csrf-cookie");
            await axios
                .post("/login", this.user)
                .then(({ response }) => {
                    this.signIn();
                })
                .catch(({ response }) => {
                    this.errors =
                        response.status === 422 ? response.data.errors : {};
                })
                .finally(() => (this.processing = false));
        },
    },
};
</script>
